.plan-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  padding: 23px 0px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  @media (min-width: 768px) {
    // display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    width: 100%;
    display: none;
  }
}
.access {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #000000;
  text-transform: uppercase;
  @media (min-width: 768px) {
    justify-self: start;
  }
}
.list-box {
  display: flex;
  align-items: center;
  column-gap: 70px;
  align-items: flex-start;
  justify-content: flex-start;
}
.tick-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}
.type {
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 1.66667px;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
  text-transform: uppercase;
  @media (min-width: 768px) {
    display: none;
  }
}

.line_2 {
  height: 1px;
  width: 100%;
  background-color: #dfdfdf;
  margin-top: 23px;
  margin-bottom: 23px;
}

.last {
  margin-bottom: 52px;
}

.tablet-row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 6px;
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
  @media (min-width: 1440px) {
    padding-left: 355px;
    padding-right: 355px;
  }
}

.row {
  display: grid;
  grid-template-columns: 50% 1fr 1fr 1fr;
  align-items: center;
  // justify-items: start;
}

.check {
  align-self: center;
  justify-self: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #000000;
  text-transform: uppercase;
}

.line_3 {
  height: 1px;
  width: 100%;
  background-color: #000000;
  margin-top: 23px;
  margin-bottom: 23px;
}

.mobile-row {
  @media (min-width: 768px) {
    display: none;
  }
}

.compare {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 4.16667px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 64px;
}
