.introduction {
  display: grid;
  grid-template-columns: 1fr;

  .create-and-share {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: stretch;
    }
  }

  .beautiful-stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: stretch;
    }
  }

  .designed-for {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: stretch;
    }
  }

  .bridge-man {
    width: 100%;
    @media (min-width: 768px) {
      display: none;
    }
  }

  .bridge-man-tab {
    display: none;

    @media (min-width: 768px) {
      display: block;
      order: 2;
      flex-grow: 1;
    }
    @media (min-width: 1440px) {
      display: none;
    }
  }

  .bridge-man-desk {
    display: none;

    @media (min-width: 1440px) {
      display: block;
      order: 2;
      flex-grow: 1;
    }
  }

  .create-box {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background-color: #000000;
    padding: 72px 33px;
    position: relative;
    @media (min-width: 768px) {
      padding: 173px 54px;
      row-gap: 21px;
    }
    @media (min-width: 1440px) {
      padding: 173px 112px;
    }
  }

  .beautiful-box {
    @media (min-width: 1440px) {
      padding: 134px 160px 135px 112px;
    }
  }

  .designed-box {
    @media (min-width: 1440px) {
      padding: 134px 160px 135px 112px;
    }
  }

  .stick {
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
    width: 37%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 8%;
    @media (min-width: 768px) {
      width: 1%;
      height: 47%;
      top: 27%;
      left: 0;
    }
  }

  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
    text-transform: uppercase;
    color: #ffffff;
    @media (min-width: 768px) {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 4.16667px;
    }
  }

  .text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
  }

  .link-box {
    display: flex;
    align-items: center;
    column-gap: 18px;
    padding-top: 7px;
    @media (min-width: 768px) {
      padding-top: 28px;
    }
  }

  .direction {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      text-decoration-line: underline;
    }
  }
  .notebook {
    width: 100%;
    @media (min-width: 768px) {
      display: none;
    }
  }
  .notebook-tablet {
    display: none;
    @media (min-width: 768px) {
      display: block;
      flex-grow: 1;
    }
    @media (min-width: 1440px) {
      display: none;
    }
  }
  .notebook-desktop {
    display: none;
    @media (min-width: 1440px) {
      display: block;
      flex-grow: 1;
    }
  }

  .handsome {
    width: 100%;
    @media (min-width: 768px) {
      display: none;
    }
  }

  .handsome-tablet {
    display: none;
    @media (min-width: 768px) {
      display: block;
      order: 2;
      flex-grow: 1;
    }
    @media (min-width: 1440px) {
      display: none;
    }
  }
  .handsome-desktop {
    display: none;
    @media (min-width: 1440px) {
      display: block;
      order: 2;
      flex-grow: 1;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.gallery_1 {
  display: grid;
  grid-template-columns: 1fr;

  .box {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 236px 33px 40px 33px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.05);
    }

    @media (min-width: 1440px) {
      padding-top: 361px;
      &:hover {
        transform: translate(0px, -5%);
      }
      &::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 6px;
        background: linear-gradient(
          26.57deg,
          #ffc593 0%,
          #bc7198 43.29%,
          #5a77ff 83.33%
        );
        font-size: 14px;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s;
      }

      &:hover::after {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .mount-photo {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(/assets/stories/mobile/mountains.jpg);
    @media (min-width: 1440px) {
      background-position: center;
    }
  }

  .image-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    padding-bottom: 4px;
  }
  .author-name {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #ffffff;
    padding-bottom: 16px;
  }
  .line-1 {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.251);
  }
  .direction-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
  }
  .direction-1 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
  }

  .cityscapes-photo {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(/assets/home/mobile/skyscrapers.jpg);
    @media (min-width: 1440px) {
      background-position: center;
    }
  }

  .voyage-photo {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(/assets/home/mobile/walk.jpg);
    @media (min-width: 1440px) {
      background-position: center;
    }
  }

  .architecture-photo {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(/assets/home/mobile/architecture.jpg);
    @media (min-width: 1440px) {
      background-position: center;
    }
  }
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.highlights {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 80px;
  padding-top: 80px;
  padding-bottom: 80px;

  .highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding-top: 80px;
    padding-left: 33px;
    padding-right: 33px;
  }
  .responsive-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    padding-top: 48px;
  }
  .responsive-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
    padding-top: 16px;
  }
  @media (min-width: 768px) {
    padding: 120px 155px 120px 155px;
  }
  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
