.intro_2 {
  display: grid;
  grid-template-columns: 1fr;

  .hero-img {
    width: 100%;
    @media (min-width: 768px) {
      display: none;
    }
  }

  .hero-img-tablet {
    width: 100%;
    display: none;
    @media (min-width: 768px) {
      display: block;
      height: 560px;
      width: 50%;
      order: 2;
      flex-grow: 1;
    }
    @media (min-width: 1440px) {
      display: none;
    }
  }

  .hero-img-desktop {
    display: none;
    @media (min-width: 1440px) {
      display: block;
      order: 2;
      flex-grow: 1;
    }
  }

  .create-box_1 {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background-color: #000000;
    padding: 72px 33px;
    position: relative;
    @media (min-width: 768px) {
      padding: 173px 39px;
      row-gap: 21px;
    }
    @media (min-width: 1440px) {
      padding: 173px 112px;
    }
  }

  .stick {
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
    width: 37%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 8%;
    @media (min-width: 768px) {
      width: 1%;
      height: 25%;
      top: 32%;
      left: 0;
    }
    @media (min-width: 1440px) {
      height: 31%;
      top: 36%;
    }
  }

  .title_1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
    text-transform: uppercase;
    color: #ffffff;
    @media (min-width: 768px) {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 4.16667px;
    }
  }

  .text_1 {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
  @media (min-width: 768px) {
    display: flex;
    align-items: stretch;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.beta {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url(/assets/shared/mobile/bg-beta.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding: 64px 33px 64px 33px;

  display: flex;
  flex-direction: column;
  row-gap: 24px;
  position: relative;
  @media (min-width: 768px) {
    margin-top: 112px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.16667px;
  }
  @media (min-width: 1440px) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(/assets/shared/desktop/bg-beta.jpg);
    margin-top: 160px;
    padding: 68px 165px 68px 165px;
  }

  .beta-name {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
    text-transform: uppercase;
    color: #ffffff;
    @media (min-width: 768px) {
      width: 56%;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 4.16667px;
    }
    @media (min-width: 1440px) {
      width: 37%;
    }
  }

  .link-box {
    display: flex;
    align-items: center;
    column-gap: 18px;
    padding-top: 7px;
  }

  .direction {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      text-decoration-line: underline;
    }
  }
  .stick {
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
    width: 37%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 8%;
    @media (min-width: 768px) {
      width: 0.5%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
.highlights_2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    padding: 120px 10px 0px 10px;
  }
  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 160px 165px 0px 165px;
  }

  .highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 33px;
    padding-right: 33px;
    @media (min-width: 768px) {
    }
  }
  .responsive-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    padding-top: 48px;
  }
  .responsive-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
    padding-top: 16px;
  }
}
