.cards-box {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
}

.package {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 56px 25px;
  row-gap: 40px;
  width: 100%;
  background-color: #f5f5f5;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: start;
    row-gap: 32px;
    padding: 40px;
  }
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 56px 40px;
    row-gap: 40px;
    width: 100%;
  }

  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 18px;
    @media (min-width: 768px) {
      align-items: flex-start;
    }
    @media (min-width: 1440px) {
      align-items: center;
    }
  }
  .price-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
      align-items: flex-end;
    }
    @media (min-width: 1440px) {
      align-items: center;
    }
  }

  .type {
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #000000;
    text-transform: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
  .include {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.601);
    mix-blend-mode: normal;
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
    @media (min-width: 1440px) {
      text-align: center;
    }
  }
  .price {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    color: #000000;
  }
  .per {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: rgba(0, 0, 0, 0.601);
    mix-blend-mode: normal;
  }

  .pick-btn {
    background-color: #000000;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #dfdfdf;
      color: #000000;
    }
  }
}

.pro {
  background-color: #000000;
  position: relative;

  .type {
    color: #ffffff;
  }

  .include {
    color: rgba(255, 255, 255, 0.601);
  }

  .price {
    color: #ffffff;
  }
  .per {
    color: rgba(255, 255, 255, 0.601);
  }
  .pick-btn {
    background-color: #ffffff;
    color: #000000;
  }

  .stick {
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.pro {
  @media (min-width: 1440px) {
    transform: scaleY(1.13);
  }
}
