.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 28px 24px;
  position: relative;
  z-index: 3;

  .hamburger-box {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .menu-overlay {
    position: absolute;
    width: 100%;
    top: 71px;
    right: 0;
    background-color: #ffffff;
    padding: 32px 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
  }

  .link {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: rgba(0, 0, 0, 0.307);
    }
  }

  .line {
    height: 1px;
    width: 100%;
    background-color: #000000;
  }

  button {
    width: 100%;
    border: none;
    color: #ffffff;
    background-color: #000000;
    padding: 14px 0px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #dfdfdf;
      color: #000000;
    }
  }
}
