.wrap {
  display: flex;
  align-items: center;
  column-gap: 13.33px;
  padding-top: 32px;

  .facebook,
  .youtube,
  .twitter,
  .pinterest,
  .instagram {
    cursor: pointer;
    transition: all 0.3s ease;
  }
  @media (min-width: 768px) {
    grid-column: 1;
    grid-row: 3;
  }
  @media (min-width: 1440px) {
    grid-column: 1;
    grid-row: 2;
  }
}
